.placeToEdit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.placeToEdit img{
    border-radius: inherit;
    max-height:100px; 
    width: -webkit-fill-available;
}

.placeToEdit > div{
    display: flex;
    width: -webkit-fill-available;
} 

.imgArrows{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgArrows a:hover {
    color: white;
}

.placeToEdit input{
    width: 90%;
    background: transparent;
    outline: none;
    border: 0px;
    border-bottom: 2px solid black; 
}


.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 0px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        /* .select select:hover,
        .select select:focus {
            color: #000000;
            background: #CCCCCC;
        } */
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    border: solid #7B7B7B;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
}



.orange{
    background: orange; 
    color: white;
}

.orange:hover{
    background: rgb(230, 147, 4); 
}

.green{
    background: green; 
    color: white;    
}

.green:hover{
    background: rgb(1, 112, 1); 
}

.red{
    background: red; 
    color: white;
}

.red:hover{
    background: rgb(207, 3, 3); 
}

.purple{
    background: purple; 
    color: white;
}

.purple:hover{
    background: rgb(112, 2, 112); 
}

.blue{
    background: blue; 
    color: white;
}

.blue:hover{
    background: rgb(1, 1, 192); 
}