.homepageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.homepageHeader{
    color: white;
    font-size: 70px;
}

.homepageLogo{
    width: 20%;
}

.iconContainers{
    display: flex;
}

.iconContainer{
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 40px;
}

.mailIcon{
    background: rgb(245, 63, 63);
    color: white;
}

.noteIcon{
    background: rgb(249, 252, 61);
    color: rgb(250, 180, 28);    
}

.mapIcon{
    background: rgb(78, 231, 236);
    color: rgb(21, 122, 122);    
}