
.emailContainer{
    width: 98%;    
    display: flex;
    justify-content: space-between;
}

.emailRightSection{
    width: 89.9%;
}

.emailList{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.email{
    width: 100%;
    /* border: 1px solid lightgray; */
    height: 30px;
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;    
    padding: 0;
    /* background-image: linear-gradient(to bottom, rgb(201, 199, 199), rgb(168, 166, 166)); */
    background: rgba(138, 139, 138, 0.5);
    margin: 0;
    /* border-radius: 5px; */
}

.email:hover{
    /* background-image: linear-gradient(to bottom, rgb(223, 219, 219), rgb(168, 166, 166)); */
    background: rgba(138, 139, 138, 0.4);
}

.email li{
    /* border: 1px solid rgb(122, 122, 122); */
    width: 33.333%;
    
    display: flex;
    align-items: center;
    padding-left: 5px;  
    height: 100%;
    font-size: 1.2em;
    font-weight: bolder;
}

.emailListHeader{
    font-weight: bold;
    font-size: 1.2em;
    /* margin-bottom: 3px; */
}

.emailListHeader li:hover{
    /* background-image: linear-gradient(to bottom, rgb(197, 197, 197), rgb(168, 166, 166));   */
    background: rgba(138, 139, 138, 0.3);
    /* border-radius: 10px; */
}

.emailMenu{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menuContainer{
    height: 100%;
    /* background-image: linear-gradient(to bottom, rgb(201, 199, 199), rgb(168, 166, 166));     */
    background: rgba(138, 139, 138, 0.6);
}

.menuContainer ul{
    padding: 0;
    margin-left: 10px;
}

.menuContainer li{
     list-style: none; 
     margin-bottom: 5px;
     font-family: inherit;
}

.menuContainer li:hover{
    color: rgb(70, 69, 69);
    cursor: pointer;
}

.readed{
    background: rgba(138, 139, 138, 0.3);
    font-family: lato-regular;
}