.mapPageContainer{
    width: 90%;
    height: 98%;    
    display: flex;
    justify-content: space-around;
}

.map {
    /* height: 100%; */
    width: 80%;
    position: fixed;
    border: solid 2px black;
    border-radius: 10px;
}

.placesContanier{
    max-width: 19%;
}    

.placesDiv{
    background: rgba(247, 247, 247, 0.205); 
    height: 430px;   
    max-width: 100%;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.searchInput{
    background: transparent;
    width: 90%;
    height: 6%;
    border: 0px solid black;         
    border-bottom: 2px solid black; 
    color: rgb(226, 223, 223);
    align-self: center;
    font-size: 18px;
}

.searchInput::-webkit-input-placeholder{
    color: black;
}

.searchInput:focus{
    /* border: 2px solid rgba(10, 10, 10, 0.479); */
    outline: none;
}

.place{
    font-size: 20px;
    color:white;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.place:hover{
    background: rgba(247, 247, 247, 0.2); 
    cursor: pointer;
}

.place h3{
    font-size: 16px;
    width: 90%;
    margin: 0;
}

.removePlace{
    max-width: 10px;
    height: 30px;
    font-size: 30px;
    align-self: flex-end; 
    color: transparent;
    transition: 0.3s; 
}

.place:hover > .removePlace{
    color: rgba(255, 251, 251, 0.9);
}

