.placeToShow{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.placeToShow img{
    border-radius: inherit;
    max-height:100px; 
    width: -webkit-fill-available;
}

.placeImg{
    display: flex;
    max-height:100px; 
    width: -webkit-fill-available;
} 

.placeToShow > h2{
    margin: 0;
}

.imgArrows{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgArrows a:hover {
    color: white;
}

.placeTop{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.placeTop i{
    cursor: pointer;
}

.exitEdit{
    cursor: pointer;    
}




