@import "_fonts.css";
@import "_homePage.css";
@import "_mailPage.css";
@import "_mailToolbar.css";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Lato-bold;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
}

.mainNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.mainNav nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background: rgba(138, 139, 138, 0.1);
}

.logoNav{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 20px;
}

nav li{
    list-style: none;
    cursor: pointer;
}

nav li:hover{
    color: rgb(97, 96, 96);
}    

