@import "_fonts.css";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Lato-bold;
    /* background: url(../img/background.jpg); */
}

.mainNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.mainNav nav{
    width: 60%;
}

.mainNav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background: rgba(138, 139, 138, 0.1);
}

.logoLi{

}

.mainNav li{
    list-style: none;
    cursor: pointer;
}